<section class="feedback-wrapper" id="feedback">
  <div class="container">
    <h3 class="feedback-title">ХОЧУ ПРЕДЛОЖЕНИЕ ПО ТУРУ</h3>


    <form class="feedback-form">
      <input type="text" placeholder="Имя" class="feedback-input">
      <input type="text" placeholder="Email" class="feedback-input">
      <input type="text" placeholder="Телефон" class="feedback-input">
      <input type="text" placeholder="Страна тура" class="feedback-input">
      <!-- <a href="#" id="dropdown-link-feedback" class="dropdown-link">Страна тура<img src="../images/arrow.png"
          alt="arrow" /></a>
      <div id="dropdown-content-feedback" class="dropdown-content-feedback">
        <a href="#">Турция</a>
        <a href="#">Египет</a>
        <a href="#">Шри-Ланка</a>
        <a href="#">Доминикана</a> -->
      <button class="feedback-button">Получить предложеие</button>
    </form>
  </div>


  </div>
  </div>
</section>