<section class="feedback-wrapper" id="feedback">
  <div class="container">
    <h3 class="feedback-title">ХОЧУ ПРЕДЛОЖЕНИЕ ПО ТУРУ</h3>


    <form class="feedback-form">
      <input type="text" placeholder="Имя" class="feedback-input">
      <input type="text" placeholder="Email" class="feedback-input">
      <input type="text" placeholder="Телефон" class="feedback-input">
      <input type="text" placeholder="Страна тура" class="feedback-input">
      <button class="feedback-button">Получить предложеие</button>
    </form>
  </div>


  </div>
  </div>
</section>