<footer class="footer">
  <div class="footer-container container">
    <div class="footer-logo__wrapper">
      <a href="/"><img src="../images/logoFooter.png" alt="logo footer"></a>
      <p class="logo-description">Кураж тур агенство,которое предоставляет услуги по поиску, оформлению и подбору туров
        для вас и ваших родных.
      </p>
      <p class="logo-p">Создание сайта —<span><img src="./images/logo3.png" alt=""></span></p>
    </div>

    <nav>
      <ul class="footer-nav-list">
        <li>
          <p class="footer-nav-title">Навигация</p>
        </li>
        <li class="footer-nav-item">
          <a href="#header">Главная</a>
        </li>
        <li class="footer-nav-item">
          <a href="#advantage">О компании</a>
        </li>
        <li class="footer-nav-item">
          <a href="#offers">Туры</a>
        </li>
        <li class="footer-nav-item">
          <a href="#feedback">Контакты</a>
        </li>
        <li class="footer-nav-item">
          <a href="#header">Услуги</a>
        </li>

      </ul>
    </nav>

    <div>
      <ul class="footer-nav-list">
        <li>
          <p class="footer-nav-title">Поддержка</p>
        </li>
        <li class="footer-nav-item">
          <p>FAQ</p>
        </li>
        <li class="footer-nav-item">
          <p>Блог</p>
        </li>
        <li class="footer-nav-item">
          <p>Обратная связь</p>
        </li>

      </ul>
    </div>

    <div>
      <ul class="footer-nav-list">
        <li>
          <p class="footer-nav-title">Контакты</p>
        </li>
        <li class="footer-nav-item">
          <a target="_blank" rel="noopener noreferrer" class="contact-link"
            href="https://maps.google.com?q=г. Харьков, ул. Лермонтовская 10а">
            <img src="../images/location.png" alt="location" />
            г. Харьков, ул. Лермонтовская 10а
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="tel:+380999908100" class="contact-link">
            <img src="../images/tel.png" alt="telephone" />
            +38 (099) 990-81-00
          </a>
        </li>
        <div class="social-link">
          <li>
            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
              <img src="../images/facebook.png" alt="facebook" />
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
              <img src="../images/instagram.png" alt="instagram" />
            </a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</footer>