<header class="header" id="header">
  <div class="header-container">
    <nav class="header-nav">
      <div class="header-log">
        <a class="header-logo" href="">
          <img src="./images/logo.png" alt="logo" />
        </a>
      </div>
      <div class="contact-container">
        <ul class="nav-contact-list">
          <li>
            <a target="_blank" rel="noopener noreferrer" class="contact-link"
              href="https://maps.google.com?q=г. Харьков, ул. Мироносицкая 10а">
              <img src="./images/location.png" alt="location" />
              г. Харьков, ул. Мироносицкая 10а
            </a>
          </li>
          <li>
            <a href="tel:+380999908100" class="contact-link">
              <img src="./images/tel.png" alt="telephone" />
              +38 (099) 990-81-00 (viber, telegram)
            </a>
          </li>
          <div class="nav-contact-item">
            <li>
              <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                <img src="./images/facebook.png" alt="facebook" />
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                <img src="./images/instagram.png" alt="instagram" />
              </a>
            </li>
          </div>
        </ul>

        <div class="nav-select">
          <ul class="nav-list">
            <li class="nav-item"><a href="" class="nav-title">Главная</a></li>
            <li class="nav-item">
              <a href="#" id="dropdown-link-tours" class="nav-title">Туры<img src="./images/arrow.png"
                  alt="arrow" /></a>
              <div id="dropdown-content-tours" class="dropdown-content">
                <a href="#">Горящие туры</a>
                <a href="#">Поиск тура</a>
                <a href="#">Экскурсионные туры</a>
                <a href="#">Week end туры</a>
              </div>
            </li>
            <li class="nav-item"><a href="" class="nav-title">Страны</a></li>
            <li class="nav-item">
              <a href="#" id="dropdown-link-services" class="nav-title">Услуги<img src="./images/arrow.png"
                  alt="arrow" /></a>
              <div id="dropdown-content-services" class="dropdown-content">
                <a href="#">Визовая поддержка</a>
                <a href="#">Индивидуальный трансфер</a>
                <a href="#">Подарочные сертификаты</a>
                <a href="#">Бронирование отелей и апартаментов</a>
                <a href="#">Как забронировать и оплатить тур</a>
              </div>
            </li>
            <li class="nav-item"><a href="" class="nav-title">О компании</a></li>
            <li class="nav-item"><a href="" class="nav-title">Контакты</a></li>
          </ul>
        </div>

    </nav>
    <div class="hero-wrapper">
      <h1 class="hero-title ">Лучшее предложение по солнечному Египту из Харькова</h1>
      <button class="hero-button">Получить предложение</button>
    </div>
    <div class="hero-background">

    </div>
</header>