.feedback-wrapper {
  background-image: url(../images/bgImage2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1920px;
  height: 277px;
  padding-top: 48px;
}

.feedback-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  color: #fff;
  margin-bottom: 34px;
}

.feedback-form {
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 56px 30px 53px 30px;
}

.feedback-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
}

.feedback-input::placeholder {
  padding-left: 10px;

  font-size: 18px;
  line-height: 1.67;
  color: #e6e6e6;
}

.feedback-button {
  width: 254px;
  font-size: 18px;
  line-height: 1.67;
  color: #000;

  padding: 17px 30px 17px 30px;
  border-radius: 10px;
  background-color: #fbd341;
  cursor: pointer;
}

.feedback-button:hover,
.feedback-button:focus {
  background-color: #fff700;
}
